@import "tailwindcss";

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --color-background: #050505;
  /* Deep Black */
  --color-foreground: #fafafa;

  /* Primary Pink/Red from Image */
  --color-primary: #ec4899;
  /* Pink-500 equivalent */
  --color-primary-foreground: #ffffff;
  --color-primary-hover: #db2777;

  --color-secondary: #1a1a1a;
  --color-secondary-foreground: #a1a1aa;

  --color-muted: #262626;
  --color-muted-foreground: #737373;

  --color-card: #0a0a0a;
  --color-card-foreground: #fafafa;

  --color-border: #262626;
  --color-input: #262626;
  --color-ring: #ec4899;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;

  --color-success: #10b981;
}

/* Custom Grid Background Utility */
.bg-grid {
  background-size: 50px 50px;
  background-image: linear-gradient(to right, #262626 1px, transparent 1px),
    linear-gradient(to bottom, #262626 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}

*[data-tauri-drag-region] {
  app-region: drag;
}
